<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span><strong>Now</strong></span>
                    </time>
                    <h3>暂无</h3>
                </div>
                <!-- .education-box -->
            </div>
        </div>
    </div>
</section><!-- .section -->